<div class="container mt-5">
    <div class="card shadow">
        <div class="card-header bg-primary text-white">
            <h2 class="mb-0">Buscar Vuelos</h2>
        </div>
        <div class="card-body">
            <form>
                <div class="form-group mb-3">
                    <label for="origin" class="form-label">Origen:</label>
                    <select id="currency" name="currency" class="form-select" [(ngModel)]="selectedOri" required>
                        <option value="MZL">MZL</option>
                        <option value="PEI">PEI</option>
                        <option value="BCN">BOG</option>
                        <option value="JFK">JFK</option>
                        <option value="BCN">BCN</option>
                        <option value="MAD">MAD</option>
                    </select>
                </div>

                <div class="form-group mb-3">
                    <label for="destination" class="form-label">Destino:</label>
                    <select id="currency" name="currency" class="form-select" [(ngModel)]="selectedDes" required>
                        <option value="MZL">MZL</option>
                        <option value="PEI">PEI</option>
                        <option value="BCN">BOG</option>
                        <option value="JFK">JFK</option>
                        <option value="BCN">BCN</option>
                        <option value="MAD">MAD</option>
                    </select>
                </div>

                <fieldset class="mb-3" (change)="onChange()">
                    <legend class="col-form-label pt-0">Tipo de Viaje:</legend>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="tripType" id="oneway"
                            [(ngModel)]="selectedTrip" value="oneway" required>
                        <label class="form-check-label" for="oneway">One Way</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="tripType" id="roundtrip"
                            [(ngModel)]="selectedTrip" value="roundtrip">
                        <label class="form-check-label" for="roundtrip">Round Trip</label>
                    </div>
                </fieldset>

                <div class="form-group mb-3">
                    <label for="currency" class="form-label">Moneda:</label>
                    <select id="currency" name="currency" class="form-select" [(ngModel)]="selectedCurrency" required>
                        <option value="USD">USD</option>
                        <option value="EUR">EUR</option>
                        <option value="COP">COP</option>
                    </select>
                </div>

                <button type="submit" class="btn btn-success" (click)="addClick()">Search</button>
            </form>
        </div>
    </div>

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-4" *ngFor="let journey of allJourneysBack">
                <div class="card mb-4">
                    <div class="card-header">
                        <h5 class="card-title">{{ journey.origin }} - {{ journey.destination }}</h5>
                    </div>
                    <div class="card-body">
                        <p>Precio total: {{ journey.price | currency }}</p>
                        <h6>Vuelos:</h6>
                        <div class="row">
                            <div class="col-12" *ngFor="let flight of journey.flights">
                                <div class="card mb-2">
                                    <div class="card-body">
                                        <h6>{{ flight.origin }} to {{ flight.destination }}</h6>
                                        <p>Precio: {{ flight.price | currency }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>